name: Scala CI
env:
  CIRCT_VERSION: sifive/1/19/0

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags: ["*"]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        scala: [2.12.15, 2.13.6]
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v10
      - name: Install CIRCT
        run: |
          mkdir usr
          CIRCT_VERSION_ESCAPED=`echo ${{ env.CIRCT_VERSION }} | sed 's/\//%2F/g'`
          wget https://github.com/llvm/circt/releases/download/$CIRCT_VERSION_ESCAPED/circt-bin-ubuntu-20.04.tar.gz -O - | tar -zx -C usr/
          echo "$(pwd)/usr/bin" >> $GITHUB_PATH
      - name: Setup and run tests
        run: sbt ++${{ matrix.scala }} test
      - name: Check Formatting (Scala 2.12 only)
        if: startsWith(matrix.scala, '2.12')
        run: sbt ++${{ matrix.scala }} scalafmtCheckAll

  publish:
    needs: [test]
    runs-on: ubuntu-20.04
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v10
      - uses: olafurpg/setup-gpg@v3
      - run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
